# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VScode Config
**/.vscode

# Program Executables
megaphone
phonebook
account
zombie
zombieHorde
brain
human
fake_sed
harl
harlFilter
fixed
bsp_test
claptrap
scavtrap
fragtrap
diamondtrap
animal
